*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "sans-serif";
  src: url("assets/OpenSans-Regular-webfont.woff") format("woff");
}

body {
  font-family: "sans-serif", sans-serif;
  font-size: 1.2em;
  line-height: 1.8em;
  background-color: #d2f6c5;
}

/* Header CSS */

header nav ul > li {
  margin-right: 30px;
  text-align: center;
}

.flex-container {
  display: flex;
}

header,
footer {
  height: 100px;
  width: 60vw;
  background-color: #28df99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin: 0px auto;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Body CSS */

.fact-display {
  width: 60vw;
  height: 300px;
  background-color: #28df99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3em;
  padding: 50px 50px;
}

main {
  width: 60vw;
  background-color: #d2f6c5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0px auto;
}

main h2,
main h3 {
  text-align: center;
}

main h2 {
  padding-bottom: 30px;
}

main article {
  background-color: #99f3bd;
  width: 60vw;
  padding: 30px 30px;
  font-size: 1.6em;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin-top: 100px;
}

main nav a {
  text-decoration: none;
}

.button {
  background-color: orange;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

section p {
  margin-top: 100px;
  font-size: 1.3em;
  text-align: center;
}

h3 {
  padding-top: 30px;
  font-size: 1.5em;
}

main > h2 {
  font-size: 1.6em;
}

main nav div {
  width: 150px;
  height: 150px;
  background-color: #99f3bd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.green-dividing-block {
  height: 10vh;
  width: 60vw;
  background-color: #28df99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin: 0px auto;
}

section img {
  height: 350px;
  width: auto;
  margin: 50px 0;
}

article ul {
  padding: 0 30px;
}

main article h3 {
  padding: 50px 0;
}

/* Footer CSS */

footer {
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
}

/* SVG CSS */

.top-right {
  transform: scaleX(-1);
}

.bottom-left {
  transform: scaleY(-1);
}

.bottom-right {
  transform: scaleX(-1) scaleY(-1);
}

img {
  width: 20vw;
  height: 300px;
}

/* Media Query CSS */

@media (max-width: 1080px) {
  header {
    flex-direction: column;
    position: absolute;
    width: 100vw;
    flex: 1;
  }

  header nav ul {
    margin: 0px auto;
  }

  footer {
    position: absolute;
    width: 100vw;
    flex: 1;
    top: 150px;
  }

  .flex-container {
    position: absolute;
  }

  .top-left,
  .top-right {
    position: relative;
    top: 10vh;
  }

  .top-right,
  .bottom-right {
    left: 60vw;
  }

  .bottom-right,
  .bottom-left {
    position: relative;
    bottom: 5.5vh;
  }

  article {
    margin-top: 250px;
  }

  nav ul a {
    padding: 0 20px;
  }

  nav ul {
    width: 100px;
  }

  main article > h2 {
    font-size: 1em;
  }

  main article > h3 {
    font-size: 1.3em;
  }

  img[src="assets/svgs/green-corner-3.svg"] {
    height: 20vh;
  }

  main nav {
    flex-direction: column;
  }

  main article {
    width: 80vw;
    margin-bottom: 100px;
    margin-top: 300px;
  }

  section footer {
    position: relative;
    top: 50px;
  }

  main nav div {
    width: 60vw;
    margin-bottom: 30px;
  }

  main > h2 {
    margin-top: 150px;
  }

  .green-dividing-block {
    width: 100vw;
  }

  section:last-child div {
    visibility: hidden;
  }

  section > p {
    font-size: 1.7em;
    padding: 0 20px;
  }
}
